@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    line-height: 1.5;
}

/*NavBar*/
/*Yara*/
.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin-left: 30px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

nav ul li a:hover {
    border-radius: 30px;
    background-color: #daa520;
    padding: 10px;
    color: white;
}

.auth-btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.auth-btn a .auth-text {
    margin-left: 7px;
}

.auth-btn a:hover {
    background-color: #daa520;
}

.auth-btn {
    margin-right: 30px;
}


.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

/*Footer*/
/*Alia*/
.footer {
    background-color: #202F5A;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 650;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #daa520;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #202F5A;
    background-color: #ffffff;
}

/* to make the footer responsive */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}

.space {
    margin-bottom: 20px;
}

/*Customer Review*/
/*Yara*/
.hero {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-box {
    width: 90%;
    max-width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.hero h1 {
    margin-bottom: 40px;
}

.slider-card {
    height: 300px;
    padding: 40px;
    color: black;
    line-height: 22px;
    background: #fff;
    position: relative;
    z-index: 1;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile img {
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile h3 {
    font-size: 26px;
    color: #202F5A;
    ;
    margin-bottom: 8px;
}

#slide {
    width: 100%;
    padding-right: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.sidebar {
    width: 60px;
    height: 100%;
    padding: 15px 0;
    background: #daa520;
    ;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar img {
    width: 25px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.subTitle {
    font-size: 30px;
    color: #daa520;
    font-family: 'Brush Script MT';
}

.title {
    font-size: 30px;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}